@{
  Layout = "_Layout";
}

<h1>Welcome To Do List!</h1>
<div class="card bg-faded card-block mb-3 p-3">
 <p>home</p>
</div>
<a href="/categories" class="btn btn-info">Category!</a>
<a href="/items" class="btn btn-info">Item!</a>
