@{
  Layout = "_Layout";
}

<p>Detail</p>

    <li>@Model.description</li>
    <li>@Model.dueDate</li>

<p><a href="/items">Back to Item List</a></p>
<p><a href="/categories">Back to Category List</a></p>
