@{
  Layout = "_Layout";
}

<form action='/categories' method='post'>
  <label for='categoryName'>Category Name</label>
  <input id='categoryName' name='categoryName' type='text'>

  <button type='submit'>Add Category</button>
</form>
