@{
  Layout = "_Layout";
}
h1>@Model.GetName()</h1>

@foreach (var item in Model.GetItems())
{
<h4><a href='/items/@item.id'>@item.description</a></h4>
}

<p><a href='/items/new'>Add Items</a></p>
<p><a href="/categories">Back to Category List</a></p>
<p><a href='/'>back Home</a></p>
